<h1> <%= @cocktail.name %></h1>

      <h2> Add a new Dose </h2>

      <%= simple_form_for([@cocktail, @dose]) do |r|%>
          <div class="sticky-card"></div>
          <%= r.input :description, class: "form-control" %>
          <%= r.input :ingredient, collection: Ingredient.all, as: :select %>
          </div>
        <%= r.submit "Add a Dose", class: "btn btn-primary" %>
      <% end %>


  <div class="right-side-show">
    <div class="container-fluid">
      <div class="row">
        <% @cocktail.doses.each do |dose| %>
          <div class="card-ingredient col-xs-8 col-md-10">
            <h2> <%= dose.ingredient.name %> </h2>
            <p> <%= dose.description %> </p>
            <%= link_to "Delete", dose_path(dose), method: :delete, class: "btn btn-danger" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= link_to "Back to the cocktails", cocktails_path %>
